.e5_slideshow {
  overflow:hidden;
	position:absolute;
	top:0;
	left:0;
}
.e5_slideshow .slides {
  position:absolute;
  height:100%;
  white-space:nowrap;
}
.e5_slideshow .slides > div {
  text-align:center;
  width:1024px;
	height:100%;
  background-color:black;
  text-align:center;
  float:left;
}
.e5_slideshow .slides > div img {
  max-height:100%;
  max-width:100%;
}
.e5_slideshow .slideFooter, .e5_slideshow .slideHeader {
  position:absolute;
  left:0; 
  right:0;
  border:1px solid #000;
  background:rgba(55,55,55,0.7);
  background: -webkit-gradient(linear, 0 0, 0 100%, from( rgba(255,255,255,0.85) ), color-stop(0.5, rgba(70,70,70,0.8) ), to( rgba(0,0,0,0.85) ));
  padding:8px;
  color:#fff;
  text-align:center;
  z-index:2;
}
.e5_slideshow .slideHeader {
  top:0;
}
.e5_slideshow .slideFooter {
  bottom:0;
}