@media only screen and (max-width: 480px) {
  html div.generated-style, html div.generated-style-2, html div.textraster {
    width:280px;
  }
  html div.randabfallend {
    width:320px;
  }
  html div.mittlerer-bildraster {
    width:320px; /* ?? */
  }
  html body {
    font-size:0.6em;
  }
  html div.no-iphone, html div.randabfallend-no-iphone {
    display:none;
  }
}


/*******************************************/
/* global                                 */
body {
  padding-top:3.7em;
	font-size:0.76em;
	margin:0 0 30px 0;
}
img {
	max-width:100%;
}

a {
  color:#000;
}

/*******************************************/
/* Objekte                                 */

html div.aufmacherbild { margin-top:-3.7em; }
div.bildraster-innen, div.generated-style, div.generated-style-2, div.textraster, div.randabfallend, div.mittlerer-bildraster, div.aufmacherbild, div.bildraster-mitte, div.bildraster-textraster {
  margin:auto;
}
div.noIphone, div.textraster, div.generated-style, div.generated-style-2, div.bildraster-textraster {
  width:533px;
}
div.randabfallend, div.randabfallend-no-iphone, div.aufmacherbild {
  width:768px;
}
div.bildraster-textraster, div.bildraster-innen, div.mittlerer-bildraster, div.bildraster-mitte, div.randabfallend {
  margin:2em auto;
  width:768px; /* ?? */
}

div.bildraster-textraster > img, div.bildraster-mitte > img, div.aufmacherbild > img, div.bildraster-innen > img, div.generated-style > img, div.generated-style-2 > img, div.randabfallend > img, div.mittlerer-bildraster  > img {
  margin:auto;
  display:block;
}

div.bild-roten > img {
  display:block; margin:3em auto 2em auto;
}
div.bild-binswanger > img {
  display:block; margin:2em auto;
}
p.au-autorennachweis-pfeiffer-ipad, p.au-autorennachweis-pfeiffer-ipad * {
  color:#fff;
}
p.au-autorennachweis-pfeiffer-ipad {
  margin-top:1em;
}
p.ti-pfeiffer-ipad {
  margin:0.8em 0 0.6em 0
}
/* beta */
zzz_div.generated-style:first-child {
  margin-top:3.65em;
}
/*
div.generated-style-2 
{
	margin-left: 0.5em;
	margin-right: 0.5em;
	text-align: left;
}
div.generated-style 
{
	text-align:center;
}
div.generated-style img{
	margin-top:1.2em;
	xdisplay:block;
	xmargin:auto;
}
*/
/*******************************************/


/*******************************************/
/* Spezielles                              */
/* Initialen */
 p.tx-initial-block-x08:first-letter /*span.z-initial-24-27-ipad */ {
   font-size:4.42em; 
   padding:0 0.11em 0 0;
   margin-top:-0.17em;
   float:left;
   line-height:0.495em;
   font-family: magazin-garamond;
   font-weight: bold;
}
/* abschlusspunkt */
/* bei blocksatz: !!!!!!!!!!!!! x
span.z-abschlusspunkt-ma-garamond-x59 {
	font-size:1.1em;
	float:right;
	xline-height:0.4em;
	text-indent: 0;
}
*/
span.z-abschlusspunkt-ma-garamond-x59 {
	height:0.8em;
	display:inline-block;
	font-size:1.1em;
	xmargin-left:0.25em;
	xline-height:0.9em;
	position:relative;
	top:-0.2em;
}
/*******************************************/




/**************************************/
/* Inhaltsverzeichnis                 */
p.x01-autorenbox-black-6-7-8-5-x07-INHALT {
	font-family: "Black-Medium";
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
	line-height: 1.17em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: left;
	margin: 0em;
	color: #e2007a;
	margin-bottom:-2em;
	margin-left:-3em;
	padding-left:3em;
	padding-top:1em;
}
p.ti-inhalt-1-ma-garamond-20-5-22-5-x04 {
	border-top:1px solid #000;
	margin-top:0.9em;
	padding-top:0;
	line-height:0.7em;
}
p.ti-inhalt-2-ma-garamond-10-8-13-6-x04 
{
	border-top:1px solid #000;
	margin-bottom:0.3em;
	line-height:0.7em;
	xtext-align: left;
}
div.bilder-inhalt {
  margin-top:1.25em;
  margin-bottom:37px;
  text-align:center;
}
/**************************************/


p.tx-initial-block-x08 {
	margin-top:1.5em;
}

p.x03-bildlegende-black-7-7-9-li-x11 {
	margin-top:0.41em;
  margin-top:-1.3em;
	margin-bottom:3.0em;
}

p.tx-byline-as-garamond-5-8-5-x12 {
	display:none;
	xborder:1px solid red;
	-webkit-transform:rotate(270deg);
	position:absolute;
	top:900px;
	right:-180px;
	font-size:0.9em;
}

/* p.ti-kolumnentitel-ma-garamond-zentriert-20-5-30-x04 {
	margin-bottom:0.47em;
	margin-left:0.5em;
	margin-right:0.5em;
} */

p.ti-spitzmarke-as-garamond-14-7-16-5-x01 {
	font-family: "AS Garamond";
	font-size: 2.42em;
	line-height: 0.93em;
	text-align: center;
	margin: 0em;
	margin-bottom:0.87em; /* editorial */
}


p.ti-spitzmarke-as-garamond-14-7-16-5-x01-BuchTitel
{
	border-top:1px solid #000;
	padding-top:0.85em;
	line-height:0.7em;
	
	font-family: "AS Garamond";
	font-weight: normal;
	font-style: normal;
	font-size: 2.42em;
	line-height: 1.93em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	color: #000000;
	margin: 0em;
	margin-bottom:2.1em;
	margin-top:1.86em;
}

span.z-black-text-6-7-8-5-x51{
  text-transform:none;
	letter-spacing: 0em;
}

span.z-black-text-6-7-8-5-x51-override
{
	letter-spacing: 0.08em;
}

p.au-autorennachweis-black-6-7-8-5-raster-x07 {
	margin-top:1em;
	letter-spacing: 0.083em;
	zzz_text-transform:none;
}




p.au-autorenname-12-14 {
	font-family: "Black-Medium";
	font-size: 1em;
	line-height: 1.17em;
	text-transform: uppercase;
	text-align: center;
	margin: 0em;
	margin-top:0.7em;
	margin-bottom: 1.06em;
	letter-spacing:0.083em;
}



span.z-black-versal-6-7-8-5-x53
{
	letter-spacing:0.083em;
}

span.z-black-versa-impressuml-6-5-7-5
{
	letter-spacing:0.083em;
}

span.z-ma-garamond-10-8-12-27-x53, .tx-lauftext-reg-me-block-10-8-12-27-x08 span.z-garamond-mt-kursiv-10-8-12-27-x52 {
	font-size:1em;
}


p.x01-autorenbox-black-6-7-8-5-x07 {
	xpadding-left:3em;
	xpadding-top:1em;
}
p.x01-autorenbox-black-6-7-8-5-x07:first-child {
	/* Lukas: make margin smaller from 5em to 1.5em. */
	margin-top:3em;
	/* Lukas: remove black top line at authoren box.
	 border-top:1px solid black;*/
}
p.ti-ma-garamond-31-29-x04 {
	margin-top:0.5em; /*??*/
	margin-bottom:0.8em;
}

p.tx-interview-frage-x40 
{
	margin-top:-0.3em;
	margin-bottom:0.3em;
	
}

p.ti-cover-anriss-16-20-x08 {
	font-family: "AS Garamond";
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 1.12em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	color: #000000;
	margin: 0em;
	margin-top:0.93em;
	margin-bottom:1.06em;
}


span.z-garamond-mt-kursiv-10-8-12-27-x52 
{
	margin-top: 1.0em;
	margin-bottom: 5em;
}






p.tx-as-garamond-lead-14-7-16-5-x06_Line
{
	font-family: "AS Garamond";
	font-weight: normal;
	font-style: normal;
	font-size: 2.42em;
	line-height: 1.14em;
	text-decoration: none;
	font-variant: normal;
	text-indent: 0em;
	text-align: center;
	color: #000000;
	margin-top:0.5em;
	margin-bottom:0.6em;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}

p.tx-as-garamond-lead-14-7-16-5-x06{
	margin-top:0.3em;
	margin-bottom:0.3em;
}

p.ti-ma-garamond-31-34-x04 
{
	margin-bottom:0.25em;
}

p.ti-ma-garamond-41-39-x04 {
  font-family: magazin-garamond;
  font-size: 3.42em;
  font-weight: bold;
  line-height: 0.95em;
  margin: 0em;
  margin-bottom:0.25em;
  text-align: center;
  text-transform: uppercase;
}


p.ti-inhalt-2-ma-garamond-10-8-13-6-x04-VERTICAL 
{
	border-top:1px solid #000;
	margin-bottom:0.4em;
	line-height:0.7em;
	text-align: center;
	/*  margin-left: 1.5em;
	 margin-right: 1.5em;
	 */
}


/* p.ti-spitzmarke-black-39-52-ipad, span.no-style-override-1, span.no-style-override-2, span.no-style-override {
 color:black;
 } */
P.tx-impressum-as-garamond-6-7-7-5-x08 {
	padding-top:1em;
}

span.z-leserbriefe-subtitel-as-garamond-7-7-12-27-x53 {
	font-size:0.8em;
}
p.ti-as-garamond-leserbriefe-10-8-12-27-x08 {
	margin-top:1.3em;
  border-top:1px solid black;
}
p.einfacher-absatz {
	margin-top:0.2em;
	margin-bottom:2em;
}

p.ti-zwischentite-block-x09 {
	margin-bottom:0.3em;
	text-align:center;
}


/* blocksatz */
p.tx-interview-antwort-x41, p.tx-initial-block-x08, p.tx-lauftext-reg-me-block-10-8-12-27-x08, p.tx-lauftext-reg-oe-block-10-8-12-27-x08 {
	text-align:left;
	xsmargin-left:0.5em;
	xmargin-right:0.5em;
	
}

