body {
	background-color: #efefef;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 8%;
	margin-bottom: 8%;
	margin-left: 8%;
	margin-right: 8%;
}

p {
	font-size: 11pt
}

.image-legend {
	font-size: 10pt
}

.left-floating-legend {
	float: left;
	padding-right: 10px;
	padding-bottom: 10px
}

.right-floating-legend {
	float: right;
	padding-left: 10px;
	padding-bottom: 10px
}

.centered-legend {
	text-align: center
}

.right-legend {
	text-align: right
}
